<div class="container">
  <p><%=@message.inspect%></p>
  <p><%=@access_token.inspect%></p>
  <p><%=@user_info.inspect%></p>
  <p>
        <button><a href="/sign_out">Sign Out</a></button>
  </p>
</div>
